---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Form from '~/components/ui/Form.astro';
import { getPermalink } from '~/utils/permalinks';
import formBG from '../assets/images/abstract-green-bg.jpg';

const metadata = {
  title: 'Super Good Marketing',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'tertiary',
        text: 'Dig deeper...',
        href: '/#problems',
      },
      { variant: 'primary', text: 'Get Started', href: '/#get-started' },
    ]}
  >
    <Fragment slot="title">Super Good Marketing</Fragment>
    <Fragment slot="subtitle">Supercharge Your Growth with Google Ads</Fragment>
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="problems"
    tagline="Let's be real"
    title="Growing your business is challenging"
    subtitle="Every day presents new challenges and how you handle them could be the difference between sticking around or closing your business"
    items={[
      {
        title: 'Ad budget drain',
        description:
          "Your Google Ads spend keeps increasing, but returns aren't matching up. It feels like you're pouring money into a black hole without seeing proportional results.",
        icon: 'tabler:road',
      },
      {
        title: 'Keyword confusion',
        description:
          "Choosing the right keywords is like navigating a maze. You're unsure which terms will attract quality leads and which will waste your budget on irrelevant clicks.",
        icon: 'tabler:coin',
      },
      {
        title: 'Conversion rate struggles',
        description:
          "Your ads are getting clicks, but sales aren't following. The disconnect between ad performance and actual revenue is frustrating and costly.",
        icon: 'tabler:repeat',
      },
      {
        title: 'Targeting misses',
        description:
          "Despite your best efforts, your ads aren't reaching the right audience. You're spending on impressions and clicks from people unlikely to become customers.",
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Analytics overload',
        description:
          "Google Ads provides a wealth of data, but making sense of it all is overwhelming. You can't translate the numbers into actionable strategies to improve performance.",
        icon: 'tabler:target',
      },
      {
        title: 'Competitor dominance',
        description:
          "Your industry rivals seem to be everywhere in search results. No matter how you adjust your campaigns, you can't seem to gain ground in the AdWords auction.",
        icon: 'tabler:users',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    items={[
      {
        title: 'ROI Maximization',
        description:
          "We don't just run ads; we engineer campaigns for maximum return on investment. Our data-driven approach ensures every dollar spent works hard to grow your business.",
      },
      {
        title: 'Targeted Reach',
        description:
          "Say goodbye to wasted ad spend. We pinpoint your ideal customers with laser precision, leveraging Google's advanced targeting options to put your message in front of those most likely to convert.",
      },
      {
        title: 'Scalable Growth',
        description:
          'As your business expands, so do your campaigns. We build flexible, scalable strategies that evolve with your needs, continuously optimizing to fuel your growth trajectory.',
      },
    ]}
    image={{
      src: '~/assets/images/empty_shelves.webp',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-heading font-bold tracking-wide dark:text-default sm:text-3xl mb-2">
        Lucky you, we're here to help
      </h3>
      You focus on providing an incredible offer.<br />We'll get <strong
        >people to see you and keep coming back for more</strong
      >.
    </Fragment>
  </Content>

  <!-- Services Widget **************** -->

  <Features2
    id="services"
    title="So...what do we actually do?"
    subtitle="We always put together a strategy specifically catered to your stage of growth, but these are some of the main areas we usually focus on"
    items={[
      {
        title: 'Google Ads Account Setup',
        description:
          'Create a robust Google Ads account from scratch, optimized for success with proper campaign structuring and settings.',
        icon: 'flat-color-icons:google',
      },
      {
        title: 'Keyword Research & Targeting',
        description:
          'Identify the most profitable and relevant keywords to target for your business, ensuring your ads reach the right audience.',
        icon: 'flat-color-icons:search',
      },
      {
        title: 'Ad Copywriting & Optimization',
        description:
          'Craft compelling, high-converting ad copy that aligns with user intent and maximizes click-through rates.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Conversion Rate Optimization (CRO)',
        description:
          'Enhance landing pages and funnels to improve user experience and increase the percentage of ad traffic that converts.',
        icon: 'flat-color-icons:bullish',
      },
      {
        title: 'Performance Monitoring & Reporting',
        description:
          'Track campaign performance with detailed reporting and insights, allowing for data-driven optimization and budget adjustments.',
        icon: 'flat-color-icons:statistics',
      },
      {
        title: 'Remarketing Campaigns',
        description:
          'Re-engage potential customers who have visited your site by serving targeted ads across Google’s Display Network.',
        icon: 'flat-color-icons:collect',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Years of experience', amount: '19' },
      { title: 'Projects', amount: '112' },
      { title: 'Revenue Generated', amount: '$10.8M+' },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: 'https://www.instagram.com/supergoodmarketing',
        },
      },
      {
        icon: 'tabler:brand-threads',
        callToAction: {
          target: '_blank',
          text: 'Threads',
          href: 'https://www.threads.net/@supergoodmarketing',
        },
      },
      {
        icon: 'tabler:brand-youtube',
        callToAction: {
          target: '_blank',
          text: 'Youtube',
          href: 'https://www.youtube.com/channel/UCXJp0sjyJRqXjraL_AhB8mg',
        },
      },
    ]}
    image={{
      src: '~/assets/images/me.jpg',
      alt: 'Headshot of gaege',
      loading: 'lazy',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold font-heading tracking-wide dark:text-primary sm:text-3xl mb-2">
        Who is Super Good Marketing?
      </h2>
      <p>
        My name is Gaege and I've been working professionally in the tech and digital marketing space for 12 years. What
        started with building super basic websites in the early 2000s became a lifelong passion that has grown into
        developing enterprise-level applications and marketing assets serving millions of users per year.
      </p>
      <br />
      <p>
        After years of serving all types of clients big and small as a freelancer, I decided to apply my technical and
        managerial skills in a focused effort to help businesses in the fast-paced and complicated world of Google Ads
        strategy and execution.
      </p>
      <br />
      <p>
        I look forward to helping your business flourish and alleviating some of the stress that I know comes with
        business ownership, especially with our modern, highly-competitive landscape.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Take the next steps to elevate your Google Ads performance"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Consultation</span>',
        description:
          "We'll dive into your business and assess your current Google Ads account or help set one up from scratch. During this session, we’ll identify key areas where our expertise can maximize your ad performance and improve your return on ad spend (ROAS).",
        icon: 'tabler:device-desktop-analytics',
      },
      {
        title: 'Step 2: <span class="font-medium">Form an action plan</span>',
        description:
          "We'll develop a comprehensive Google Ads strategy tailored to your business, including keyword research, ad copy recommendations, and targeting tactics. This action plan will aim for quick wins, such as improving click-through rates (CTR) and boosting conversion rates while building a long-term, scalable ad strategy.",
        icon: 'tabler:clipboard-list',
      },
      {
        title: 'Step 3: <span class="font-medium">Implementation & Reporting</span>',
        description:
          "We'll execute the plan, continually optimizing campaigns based on performance data. From ad copy testing to budget allocation adjustments, we ensure you're getting the most from your ad spend. Detailed reports will be provided, keeping you informed on key metrics like impressions, conversions, and cost per acquisition (CPA).",
        icon: 'tabler:chart-bar',
      },
      {
        title: 'Profit!',
        description:
          'Watch your Google Ads campaigns drive more qualified traffic, increase leads or sales, and improve your bottom line as we fine-tune every aspect of your ad strategy for maximum growth.',
        icon: 'tabler:currency-dollar',
      },
    ]}
    image={{
      src: '~/assets/images/dispensary-2.jpg',
      alt: 'Successful dispensary',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Dive Deeper Into Google Ads on our Blog"
    information={'Get the latest updates on Google Ads strategies and tactics for businesses of all sizes. Learn how to optimize your ad spend, increase conversions, and leverage new features to attract more customers, generate leads, and maximize your return on investment (ROI).'}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Explore the following questions to understand how our Google Ads management solutions can help you attract more customers, increase sales, and grow your business."
    id="faqs"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why Choose Our Google Ads Management Services?',
        description:
          'In a competitive online landscape, Google Ads requires expert handling to generate the best return on investment. Our specialized services focus on maximizing your ad spend through targeted strategies, advanced bidding techniques, and data-driven optimizations that drive conversions and increase customer acquisition.',
      },
      {
        title: 'What Do I Need to Get Started?',
        description:
          'Getting started is easy! We’ll walk you through an initial consultation to understand your goals, target audience, and any existing Google Ads campaigns. From there, we’ll create a customized strategy tailored to your needs, ensuring your campaigns hit the ground running.',
      },
      {
        title: 'How Does Google Ads Help My Business?',
        description:
          'Google Ads allows your business to reach potential customers at the moment they are searching for products or services like yours. Through targeted ad campaigns, we help you appear at the top of search results and across the web, increasing your visibility, driving qualified traffic, and boosting conversions.',
      },
      {
        title: 'What Kind of Results Can I Expect?',
        description:
          'Our clients typically see significant improvements in their ad performance within the first few months of working with us. You can expect higher click-through rates (CTR), lower cost per click (CPC), and an increase in conversions as we continuously optimize your campaigns to deliver the best possible return on ad spend (ROAS).',
      },
      {
        title: 'How Do You Ensure Compliance with Advertising Laws?',
        description:
          'We stay up-to-date with Google Ads policies and any industry-specific regulations, ensuring your ads remain compliant. For industries with restrictions, such as cannabis, we carefully craft and manage campaigns that adhere to legal guidelines, so you can advertise effectively without risking penalties.',
      },
      {
        title: 'How Do I Measure the Success of My Google Ads Campaigns?',
        description:
          'We provide in-depth reporting to help you track the success of your campaigns. Key performance indicators (KPIs) such as CTR, conversion rate, cost per acquisition (CPA), and ROI will be regularly monitored and shared with you, ensuring you always know how your ad dollars are performing.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction id="get-started" backgroundImage={formBG}>

    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight text-primary-inverted dark:text-primary sm:text-3xl mb-2">Ready to take your business to the next level?</h3>
      <div
        class="calendly-inline-widget"
        data-url="https://calendly.com/supergoodmarketing/30min?primary_color=059669"
        style="min-width:320px;height:900px;"
      >
      </div>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
    </Fragment>

  </CallToAction>
</Layout>


