---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';

const logoImage = '~/assets/images/sg_logo.png';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <!-- ðŸ‘ {SITE?.name} -->
  <Image src={logoImage} class="!w-16 md:!w-20" alt="Super Good Marketing logo" />
</span>
