---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';

import { headerData, footerData } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>
  <!-- <slot name="announcement">
    <Announcement />
  </slot> -->
  <slot name="header">
      <Header
        showToggleTheme
        position="right"
      />
    </slot>
  <main>
    <slot />
  </main>
</Layout>
